<app>
    <login if={ !state.isLoggedIn } />

    <script>
        import Login from './pages/login.riot'

        export default {
            components: {
                Login
            },
            state: {
                isLoggedIn: true
            },
            onBeforeMount(props, state) {

            }
        }
    </script>
</app>